<html>
    <head>
            <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Custom CSS -->
        <link href="css/stylish-portfolio.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        </head>
    <body>
        <div class="container">
            <br>
            <a href="/"> <button class="btn btn-warning">Back to Home</button> </a>
        </div>
		{{{body}}}
	</body>
<!--    <script src="../../js/blissful.js"></script>-->
</html>
