
<section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>B L I S S F U L - S O U N D S - 001</h2>
                    <h4>BY TA LIWA</h4>
                    <hr class="small">
                    <div class="row">
                        <div class="">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="img/Blissful001.jpg" width="550">
                                <br>
                                <audio controls>
                                  <source src="blissful_sounds/Blissful%20Sounds%20001%20by%20Ta%20Liwa.mp3" type="audio/mpeg">
                                </audio>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="portfolio-item">
                                <hr>
                                <h3>Track <strong>List</strong></h3>
                                <ol>
                                    <li>Da Capo - I choose to stay</li>
                                    <li>Dafro - Deep Surface</li>
                                    <li>Atjazz - Boni Mores</li>
                                    <li>Da Capo - Out there</li>
                                    <li>Dafro - Viny Da Vinci</li>
                                    <li>Atjazz - Hey Hey</li>
                                    <li>Invaders of Afrika - Lomhlaba</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /.row (nested) -->
                    <a href="#" class=""></a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
