    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>B L I S S F U L - S O U N D S - 007</h2>
                    <h4>BY SIMNIQUE SA</h4>
                    <hr class="small">
                    <div class="row">
                        <div class="">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="img/Blissful007.jpg" width="550">
                                <br>
                                <audio controls>
                                  <source src="blissful_sounds/Blissful%20Sounds%20007%20by%20Simnique%20SA.mp3" type="audio/mpeg">
                                </audio>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="portfolio-item">
                                <hr>
                                <h3>Track <strong>List</strong></h3>
                                <ol>
                                    <li> The Ananda Project - Fantasy Suite</li>
                                    <li> Monita Fea - In My Dream (Jask's Sunset Seduction Mix)</li>
                                    <li> Steal Vybes ft Byron J. Moore - Live Your Life (Ian Friday Libation Vocal Mix )</li>
                                    <li> Jill Scott - Spring Summer Feeling( Ron Trent Remix ) </li>
                                    <li> David Harnes & Roland Clarke - The Deejay's An Alien (Nomunbah Etra Terrestrial Mix)</li>
                                    <li> Dave Storm & Shur-I-Kan - Loosing You (Original Mix)</li>
                                    <li> Stevie Wonder - Love Light Flight (Matt Early Remix)</li>
                                    <li> Julius Papp - Round In My Mind (Ben Watt Mix)</li>
                                    <li> Dubtribe Sound System - Do It Now (Knee Deep Club)</li>
                                    <li> Latrice - My Endless Way (Original Mix)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /.row (nested) -->
                    <a href="#" class=""></a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>