    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>B L I S S F U L - S O U N D S - 006</h2>
                    <h4>BY TA LIWA</h4>
                    <hr class="small">
                    <div class="row">
                        <div class="">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="img/Blissful006.jpg" width="550">
                                <br>
                                <audio controls>
                                  <source src="blissful_sounds/Blissful%20Sounds%20006%20by%20Liwa.mp3" type="audio/mpeg">
                                </audio>
                                <br>
                                <a href = "blissful_sounds/Blissful%20Sounds%20006%20by%20Liwa.mp3" download><i class="fa fa-download fa-fw fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="portfolio-item">
                                <hr>
                                <h3>Track <strong>List</strong></h3>
                                <ol>
                                    <li>Echo Deep - Do it (Main Mix)</li>
                                    <li>ZwithyDeQuiver_Ndeka_39_phill_-_Azania_Da_Vynalist_RareTech_Mix</li>
                                    <li>Problem_Child_Ten83_feat_Dvine_Lopez_-_Musical_Feeling_TekniQ_39_s_DTech_Mix</li>
                                    <li>Ta_-_Ice_The_Layout_Original_Mix</li>
                                    <li>Ed-Ward - Who Knew (Original Mix)</li>
                                    <li>Roque_feat_Da_Capo_-_Tech_this_Out</li>
                                    <li>De_Montuh_-_Wena_Original_Mix</li>
                                    <li>Who_De_Warrior_Dumisani_-_Amasotja_Distance_Vocal_Mix</li>
                                    <li>Ta-ice - Technical Mind (Original Mix)</li>
                                    <li>Da Capo Ft GoodLuck - Do It For Me (AquaTone Unreleased Mix)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /.row (nested) -->
                    <a href="#" class=""></a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>