    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>B L I S S F U L - S O U N D S - 003</h2>
                    <h4>BY BHUNU BRILL</h4>
                    <hr class="small">
                    <div class="row">
                        <div class="">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="img/Blissful003.jpg" width="550">
                                <br>
                                <audio controls>
                                  <source src="blissful_sounds/Blissful%20Sounds%20003%20by%20Bhunu%20Brill.mp3" type="audio/mpeg">
                                </audio>
                                <br>
                                <a href = "blissful_sounds/Blissful%20Sounds%20003%20by%20Bhunu%20Brill.mp3" download><i class="fa fa-download fa-fw fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="portfolio-item">
                                <hr>
                                <h3>Track <strong>List</strong></h3>
                                <ol>
                                    <li>Leon Ware - Work Me (Reel People instrumental Remix)</li>
                                    <li>SoulTronixx - One Hour Sleep (Deeper Mix)</li>
                                    <li>Myazisto, Ras Vadah - (Sensationsl Mix)</li>
                                    <li>Milky Thee Soul, Mikie Blak - Chase The Sun (Original Mix)</li>
                                    <li>So Incredible (Earl Tutu, John Khan & DJ Spen Miami 2016 Mix)</li>
                                    <li>DJ Funky T - Go Deeper (Original Mix)</li>
                                    <li>7047531_That_Brooklyn_Ish_Original Mix</li>
                                    <li>Get Up (Mr V Remix)</li>
                                    <li>Vincenzo - The Hangover (Office Gossip Remix</li>
                                    <li>Black Coffee ft Ribatone - Music Is The Answer (Zulu Mafia Souled Out Mix)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /.row (nested) -->
                    <a href="#" class=""></a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>